
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    /* background: none; */
}

::-webkit-scrollbar-thumb {
    /* background-color: rgb(255, 0, 0); */
    background: linear-gradient(135deg, rgb(67, 0, 0), rgb(255, 56, 56));
    border-radius: 4px;
    border: 1px solid rgb(149, 6, 113);
    transition: background 0.3s ease-in-out !important;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, rgb(243, 18, 18), rgb(112, 2, 2));
}

#progress-container {
    position: fixed ;
    top: 0px;
    left: 0;
    width: 100%;
    height: 9px;
    z-index: 99990;
    /* background: #f3f3f3; */
}

#progress-bar {
    height: 53%;
    width: 0;
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 153, 153) 50%, rgb(250, 0, 0) 100%);
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.7), 0 0 10px rgba(192, 100, 2, 0.7);
    transition: width 0.09s ease-in-out;
    border-radius: 10px;
}


 .DoAnimation{
        /* position: relative; */

        animation-name: Cinematicuni;
        animation-duration:2s;
        animation-iteration-count: 1;
        animation-timing-function: ease;

 }

        @keyframes Cinematicuni {

            
        from{
            transform: translateX(-450px);
        }

        to{
            transform: translateX(0px);
        }
}
 
.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 20%;
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
    margin: 20px 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
   
    
}
.background{
    background: rgba(0, 0, 0, 0.8) url(assets/bg3.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.background1{
    background: rgb(0, 0, 0, 0.5) url(assets/bg3.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.nav-list{
    width: 75%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0px 5px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-family: 'Alkatra', cursive;
    transition: color 0.3s ease, text-shadow 0.4s ease-in-out;
}
.nav-list li a:hover{
    color: rgb(238, 10, 10);
    border-radius: 8px;
    text-shadow: 2px 2px 15px rgba(255, 238, 107, 0.847);
}
.nav-list li a.active{
    color: rgb(238, 10, 10);
    text-decoration: underline;
}
.rightNav{
    width: 40%;
    text-align: right;
    padding: 0px 23px;
}

.rightNav button {
    color: black;
    border: none;
    background-color: white;
    margin-bottom: 10px;


}
#search{
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgba(163, 0, 0, 0.801);
    border-radius: 9px;
}
#search::placeholder {
    color: rgba(127, 20, 1, 0.715);
    font-style: italic;
    font-size: 15px;
}
.btn{
    padding: 8px 20px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 7px 3px;
    font-size: 15px;
    background: none;
    color: black;
    cursor: pointer;
}
.btn a{
    color: white;
    text-decoration: none;
}
.btn a:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.357);

}
.btn:hover{
    background-color: white;
    color: red;
    font-weight: bolder;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstSection{
    height: 100vh; 
}

.firstHalf{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    width: 250%;
    border: 4px solid white;
    border-radius: 10px;
    display: block;
    margin: auto;
    animation-name: IronImage;
    animation-direction: reverse;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

}

@keyframes IronImage {

            
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(450px);
    }
}
.text-big{
    font-size: 35px;
    font-family: 'Roboto', cursive;
    margin-right: 100px;
    text-shadow: rgba(255, 77, 0, 0.849) 1px 0 10px !important;

}
.text-small{
    font-size: 20px;
    font-family: 'Roboto', cursive;
    margin-right: 100px;
    text-shadow: rgba(255, 0, 195, 0.849) 1px 0 10px !important;
}
.btn{
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 7px 3px;
    font-size: 15px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #dbdbdb;
    color: black;
    font-weight: bolder;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    height: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sec{
    /* background-color: rgba(111, 7, 0, 0.819); */
    background-image: url('assets/bg3.jpg');
    /* background-color: rgba(0, 0, 0, 0.61); */
    background-repeat: none;
    color: white;
    background-size: auto;
}

.left{
    flex-direction: row-reverse;
    height: 80%;
    width: 80%;
}
.imgFluid{
    width: 300px;
    /* border: 3px solid rgb(0, 104, 113); */
    border-radius: 10px;
    z-index: -1;
    box-shadow: 10px 5px 125px rgba(255, 255, 255, 0.423);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.imgFluid:hover{
    transform: scale(1.03) translateY(-2px);
    cursor: pointer;
    /* box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.486); */
    z-index: -1;
    box-shadow: 10px 5px 125px rgba(255, 0, 0, 0.6);
}

.paras{
    padding: 0px 60px ;
    margin-left: 50px;
    text-align: justify;
}
.sectionTag{
    padding-bottom: 10px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-shadow: rgba(245, 131, 255, 0.54) 1px 0 10px !important;
}
.contact{
    background: rgba(0, 0, 0,0.8) url(contact3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
}
#name{
    border: 2px solid black;
    padding: 5px 10px;
}

.text-center{
    text-align: center;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: white;

}
.form{
    max-width: 500px;
    margin: auto;
}
.form input{
    width: 100%;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 14px 0px;
    padding: 3px 10px;
}
.submit-btn{
      color: white;
      border: 2px solid rgb(247, 242, 242);
      display: block;
      margin: auto;
      margin-bottom: 15px;
}
.text-footer{
    text-align: center;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;

}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width: 1020px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 480px;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%; 
        /* border:2px solid red; */
        /* border: none; */

    }
    .secondHalf img{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 75px;
    }
    .visibility{
        visibility: hidden;
    }
    .box-main{
        max-width: 100%;
        flex-direction: column-reverse;
    }
    .section{
        flex-direction: column-reverse; 
    }
    .text-small,.text-big,.btn{
        text-align: center;
    }
    .paras{
        padding: 0px;
        text-align: center;
    }
}


.mygithub {
    color: white;
    text-decoration: none;
    text-shadow: rgba(255, 0, 144, 0.629) 1px 0 6px;
}